---
import Layout from "../layouts/Layout.astro";
import PageTitie from "../components/PageTitie.astro";
import Menu from "../components/Menu.astro";
import YellowSmallTitle from "../components/YellowSmallTitle.astro";
import BlackSmallTitle from "../components/BlackSmallTitle.astro";
import DefaultText from "../components/DefaultText.astro";
import ProfileWithoutInfo from "../components/ProfileWithoutInfo.astro";
import ProfileWithoutPicture from "../components/ProfileWithoutPicture.astro";
import RoundedContainerForAbout from "../components/RoundedContainerForAbout.astro";

const allGames = await Astro.glob("./project/*.md");
allGames.sort((game1, game2) =>
    game1.frontmatter.title.localeCompare(game2.frontmatter.title),
);
---

<script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<Layout>
    <!-- <Menu useTitleAnim /> -->
    <Menu />
    <div class="only-mobile" style="height: 57.75px; background-color: black">
    </div>
    <div
        style="position: relative; display: flex; justify-content: center; width: 100%; aspect-ratio: 560 / 315; overflow: hidden"
    >
        <iframe
            style="position: absolute; top:50%; transform:translateY(-50%); aspect-ratio: 1 / 2;"
            width="auto"
            height="5000px"
            src="https://www.youtube.com/embed/SyLoqQCnINk?si=X6Zw-kpeDvGEDpkR&controls=0&autoplay=1&mute=1&loop=1&playlist=SyLoqQCnINk&showinfo=0&autohide=1&disablekb=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <div style="position:absolute; width: 100%; height: 100%;"></div>
        <div class="thanks no-drag">
            <main>
                <div class="thanks-title">감사합니다</div>
                <div class="thanks-subtitle">
                    많은 성원과 도움으로 성황리에 제20회 졸업전시회를
                    마쳤습니다.
                </div>
                <div class="thanks-close">감사말 감추기</div>
            </main>
        </div>
    </div>

    <main>
        <div class="section start-block end-block">
            <YellowSmallTitle textAline="center">Welcome</YellowSmallTitle>
            <BlackSmallTitle textAline="center">
                게임디자인학과<br />졸업전시에 초대합니다
            </BlackSmallTitle>

            <span
                class="text-center"
                style="font-weight: 500 !important; font-size: 1.25rem !important;"
            >
                <DefaultText>
                    학부생을 마무리한 학생들의 행보를 축하하고 응원해 주세요.
                </DefaultText>
            </span>

            <!-- <img class="ticket" src="/2024/image/ticket.png" /> -->
            <br />
            {
                [0, 1, 2].map((idx) => (
                    <div class={"swiper no-drag " + "mySwiper" + idx}>
                        <div class="swiper-wrapper">
                            {allGames
                                .slice(idx * 4, (idx + 1) * 4)
                                .map((project) => (
                                    <div class="swiper-slide">
                                        <a class="game" href={project.url}>
                                            <img
                                                width="100%"
                                                height="100%"
                                                src={
                                                    "/2024/image/thumbnails/" +
                                                    project.frontmatter
                                                        .fileName +
                                                    ".jpg"
                                                }
                                                alt={project.frontmatter.title}
                                            />
                                            <div class="title d-none">
                                                {project.frontmatter.title}
                                            </div>
                                        </a>
                                    </div>
                                ))}
                        </div>
                        <div class="swiper-pagination" />
                    </div>
                ))
            }
            <div></div>
            <p style="text-align: end; color: rgb(163, 163, 163);">
                * 썸네일을 클릭하면 게임 소개 페이지로 이동합니다.
            </p>

            <br />

            <span class="text-center">
                <DefaultText>
                    누구나 새로운 무언가를 시작하기 전<br />
                    <strong>튜토리얼</strong>을 거치기 마련입니다.<br />
                    이 과정 속에서 본 게임으로 나아가기 위한<br />
                    기술을 배우고 닦아 나의 것으로 만들게 되죠.<br /><br />
                    <h3>
                        <strong>자 여기. 이제 우리의 게임이 시작됩니다!</strong>
                    </h3>
                </DefaultText>
            </span>
        </div>

        <!-- [파랑] 지도 -->
        <RoundedContainerForAbout useBackgroundColor rightRound>
            <div class="section venue-section color-white end-block" style="">
                <YellowSmallTitle textAline="center">Venue</YellowSmallTitle>
                <BlackSmallTitle textAline="center" color="white">
                    게임디자인학과의 게임들을<br />직접 만나보세요
                </BlackSmallTitle>

                <div class="venue-info-container">
                    <div class="venue-info">
                        <ion-icon name="map"></ion-icon>
                        BEXCO (부산 해운대구 APEC로 55)
                    </div>
                    <div class="venue-info">
                        <ion-icon name="today"></ion-icon>
                        2024년 11월 14 - 17일 (목 - 일), 10:00 - 18:00
                    </div>
                </div>

                <iframe
                    class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.51654707913!2d129.1333663756948!3d35.16867602275704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356892bf02a5dfe1%3A0xb36570e65bbad549!2z67Kh7Iqk7L2U!5e0!3m2!1sko!2skr!4v1724409214579!5m2!1sko!2skr"
                    width="600"
                    height="400"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </RoundedContainerForAbout>

        <!-- [흰색] 부스 배치도 -->
        <div class="pull">
            <RoundedContainerForAbout leftRound>
                <div
                    class="section"
                    style="display: flex; flex-direction: column;"
                >
                    <YellowSmallTitle textAline="center">Booth</YellowSmallTitle
                    >
                    <BlackSmallTitle textAline="center"
                        >부스 위치</BlackSmallTitle
                    >

                    <br />
                    <div class="map-container no-drag">
                        <img
                            class="no-drag"
                            width="100%"
                            style="margin: 0 auto 0 auto; border: var(--primary) solid 0px;"
                            src="/2024/image/map.jpg?v=2"
                        />
                    </div>

                    <br /><br /><br /><br />

                    <!-- {
                        [0, 1, 2].map((idx) => (
                            <div class={"swiper no-drag " + "mySwiper" + idx}>
                                <div class="swiper-wrapper">
                                    {allGames
                                        .slice(idx * 4, (idx + 1) * 4)
                                        .map((project) => (
                                            <div class="swiper-slide">
                                                <a
                                                    class="game"
                                                    href={project.url}
                                                >
                                                    <img
                                                        width="100%"
                                                        height="100%"
                                                        src={
                                                            "/2024/image/thumbnails/" +
                                                            project.frontmatter
                                                                .fileName +
                                                            ".jpg"
                                                        }
                                                        alt={
                                                            project.frontmatter
                                                                .title
                                                        }
                                                    />
                                                    <div class="title d-none">
                                                        {
                                                            project.frontmatter
                                                                .title
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        ))}
                                </div>
                                <div class="swiper-pagination" />
                            </div>
                        ))
                    }
                    <div></div>
                    * 썸네일을 클릭하면 게임 소개 페이지로 이동합니다. -->
                </div>

                <script is:inline>
                    let games = document.querySelectorAll(".game");

                    for (let g of games) {
                        g.addEventListener("click", (e) => {
                            let title = g
                                .querySelector(".title")
                                .textContent.toString();

                            gtag("event", "click_button", {
                                button_name: "project_button",
                                project_title: title,
                            });

                            console.log("click: " + title);
                        });
                    }
                </script>
            </RoundedContainerForAbout>
        </div>

        <div class="section venue-section">
            <RoundedContainerForAbout leftRound rightRound useBackgroundColor>
                <YellowSmallTitle textAline="center">Sponsors</YellowSmallTitle>
                <BlackSmallTitle textAline="center" color="white"
                    >후원</BlackSmallTitle
                >

                <div
                    style="text-align: center; color: white; margin-bottom: 3rem;"
                >
                    제20회 게임디자인학과 졸업전시회를 지원해 주신 모든 분께
                    진심으로 감사드립니다.
                </div>

                <div class="profile-group end-block">
                    <ProfileWithoutPicture
                        name="박윤극"
                        role="게임디자인학과 제3회 졸업생"
                    />
                    <ProfileWithoutPicture
                        name="김민혜"
                        role="게임디자인학과 제7회 졸업생"
                    />
                    <ProfileWithoutPicture
                        name="김희준"
                        role="마일스톤 게임즈 팀장"
                    />
                    <ProfileWithoutPicture
                        name="송혜은"
                        role="게임디자인학과 제16회 졸업생"
                    />
                    <ProfileWithoutPicture name="안태현" role="팀호레이 팀장" />
                    <ProfileWithoutPicture
                        name="이기수"
                        role="(주)바다핀테크 대표이사"
                    />
                    <ProfileWithoutPicture
                        name="전수영"
                        role="넥슨게임즈 DW스튜디오"
                    />
                </div>
            </RoundedContainerForAbout>
        </div>
    </main>
</Layout>

<!-- Initialize Swiper -->
<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
    new Swiper(".mySwiper0", {
        slidesPerView: 3,
        spaceBetween: 10,
        // freeMode: true,
        loop: true,
        autoplay: {
            delay: 0,
            disableOnInteraction: false,
        },
        speed: 10000, // 슬라이드 전환 속도 (밀리초, 2000ms = 2초)
    });

    new Swiper(".mySwiper1", {
        slidesPerView: 3,
        spaceBetween: 10,
        // freeMode: true,
        loop: true,
        autoplay: {
            delay: 0,
            disableOnInteraction: false,
            reverseDirection: true,
        },
        speed: 10000, // 슬라이드 전환 속도 (밀리초, 2000ms = 2초)
    });

    new Swiper(".mySwiper2", {
        slidesPerView: 3,
        spaceBetween: 10,
        // freeMode: true,
        loop: true,
        autoplay: {
            delay: 0,
            disableOnInteraction: false,
        },
        speed: 10000, // 슬라이드 전환 속도 (밀리초, 2000ms = 2초)
    });
</script>

<!-- Swiper -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<style>
    .swiper {
        width: 100%;
        height: 12.5rem;
    }

    .swiper-slide {
        position: relative;
        text-align: center;
        font-size: 1.125rem;
        background: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 200 / 133;
        will-change: transform;
        overflow: hidden !important;
    }

    .game {
        position: absolute;
        width: 100%;
        height: auto;
        aspect-ratio: 200 / 133;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease;
        will-change: transform width;
    }

    .game:hover {
        width: 105%;
        transition: width 0.3s ease;
        will-change: transform width;
    }

    .swiper-slide a,
    .swiper-slide img {
        /* display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; */
    }

    @media (width <= 1000px) {
        .swiper {
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
        }
    }
</style>

<style is:inline>
    .swiper {
        margin-bottom: 0.625rem;
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .swiper,
    .swiper-wrapper {
        height: auto !important;
    }

    .swiper-slide {
        height: auto;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .swiper-wrapper {
        transition: transform 1s linear; /* linear 애니메이션 커브 설정 */
    }
</style>

<style>
    .title {
        margin-top: 6.25rem;
        margin-bottom: 3.125rem;
    }

    /* Main Logo */
    .main-logo-container {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1168 / 446;
        margin-bottom: 11.25rem;
    }
    .main-logo {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        will-change: width;
        animation: mainLogoScale 10s infinite ease-out;
    }

    @keyframes mainLogoScale {
        40% {
            width: 70%;
        }

        0%,
        50%,
        100% {
            width: 100%;
        }

        42% {
            width: 110%;
        }
    }

    /* Ribbon */
    .ribbon {
        width: 100%;
        height: 2.5rem;
        background-image: url(/2024/image/main-page-ribbon.png);
        background-repeat: repeat-x;
        background-size: auto 2.5rem;
        animation: moveBackgroundLeft 30s infinite linear;
    }

    @keyframes moveBackgroundLeft {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: -43.393rem; /* 배경을 왼쪽으로 100px 이동 */
        }
    }

    .section {
        /* padding: 12.5rem 0; */
    }

    .ticket {
        width: 100%;
        height: auto;
        margin: 6.25rem 0;
    }

    .venue-section {
        position: relative;
    }

    .venue-section::before {
        content: " ";
        position: absolute;
        left: -100vw;
        right: -100vw;
        top: 0;
        bottom: 0;
        z-index: -10;
        /* background-color: var(--primary); */
    }

    .venue-info-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 6.25rem;
        column-gap: 2.5rem;
    }

    iframe {
        border-radius: 0.625rem;
    }

    .profile-group {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem; /*  자식 요소들 간의 가로 간격 설정 */
        row-gap: 1.5rem;
        justify-content: center; /* 요소들을 왼쪽 정렬 */
    }

    @media (width <= 600px) {
        .venue-info-container {
            flex-direction: column;
            row-gap: 1rem;
            scrollbar-width: thin;
            cursor: grab;
        }

        /* .map-container {
            overflow-x: auto;
        } */

        /* .map-container img {
            width: 200vw;
        } */
    }

    .thanks {
        width: 100%;
        position: absolute;
        padding-top: 20rem;
        padding-bottom: 1.5rem;
        bottom: 0;
        text-align: center;
        color: white;
        background: black;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .thanks main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .thanks-title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .thanks-close {
        margin-top: 1.5rem;
        font-size: 0.7rem;
        border: white solid 1px;
        padding: 0.5rem;
        cursor: pointer;
    }
</style>

<script is:inline>
    document.querySelector(".thanks").addEventListener("click", () => {
        document.querySelector(".thanks").style.display = "none";
    });
</script>
