<div class="footer">
    <main>
        <div class="section">
            <strong>
                <div>
                    <a
                        target="_blank"
                        href="https://game.kongju.ac.kr/ZG0110/index.do"
                    >
                        국립공주대학교 게임디자인학과 홈페이지
                    </a>
                    &nbsp;|&nbsp;
                    <a
                        target="_blank"
                        href="https://www.youtube.com/channel/UCMWkmpXGPRwmRG_TLAd_Wzw/addons"
                    >
                        겜디 아카이브 유튜브
                    </a>
                    &nbsp;|&nbsp;
                    <a
                        target="_blank"
                        href="https://www.instagram.com/kongju_game_design/"
                    >
                        졸업전시회 인스타그램
                    </a>
                </div>
            </strong>

            <br />

            <div>
                <strong>
                    국립공주대학교 게임디자인학과 제20회 졸업전시 준비위원회
                </strong>
            </div>
            <br />
            <div>
                (32588) 충청남도 공주시 공주대학로 56(신관동 182) 예술대학 5층
            </div>
            <div>전화 : 041-850-0350 E-mail : hak619@kongju.ac.kr</div>
            <br />
            <div>
                © Dept. of Game Design, Kongju National University All Rights
                Reserved.
            </div>
        </div>

        <div class="section made-by no-drag">
            <strong>
                제20회 졸업전시 준비위원회 정보부
                <br />
                박유천, 강성혁, 김도경, 박정원, 박희경, 진현지
            </strong>
            <br />
            일 년 동안 최선을 다해준 정보부원들께 진심으로 감사드립니다 S2
            <br />
            -정보부장 박유천-
        </div>
    </main>
</div>
<style>
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        background-color: var(--primary-dark);
        height: 230px;

        font-size: 0.7rem;
        font-weight: 100 !important;
        color: #939bac;
    }

    .footer main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .section a {
        color: white;
        text-decoration: none;
    }

    . {
        display: flex;
        flex-direction: row;
    }

    .made-by {
        text-align: end;
        color: #00000000;
        transition: color ease-in 0.3s;
    }

    .made-by:hover {
        color: white;
        transition: color ease-in 0.3s;
    }

    @media (width <= 600px) {
        .footer main {
            flex-direction: column;
        }

        .made-by {
            font-size: 0.7rem;
            text-align: start;
        }
    }
</style>
