---
interface Props {
    title: string;
    fileName: string;
    path?: string;
}

const { title, fileName, path } = Astro.props;
---

<a class="project" href={path}>
    <div class="image-container">
        <img src=`/2024/image/posters/${fileName}.jpg` class="image front" />
    </div>
    <div class="title">{title}</div>
</a>

<style>
    .project {
        position: relative;
        width: calc((100% - 75px) / 4);
        min-width: calc((100% - 75px) / 4);
        max-width: calc((100% - 75px) / 4);
        flex: 1 1 calc((100% - 75px) / 4);
        margin-bottom: 50px;
        box-sizing: border-box;
        text-decoration: none;
        color: var(--black);
    }

    .image-container {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1.414;
        margin-bottom: 20px;
    }

    .image {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        transition: width 0.3s ease;
        will-change: transform width;
    }

    .project:hover .image {
        width: 105%;
        transition: width 0.3s ease;
        will-change: transform width;
    }

    .title {
        font-size: 20px;
    }

    @media (width <= 900px) {
        .project {
            width: calc((100% - 50px) / 3);
            min-width: calc((100% - 50px) / 3);
            max-width: calc((100% - 50px) / 3);
            flex: 1 1 calc((100% - 50px) / 3);
        }
    }
    @media (width <= 650px) {
        .project {
            width: calc((100% - 25px) / 2);
            min-width: calc((100% - 25px) / 2);
            max-width: calc((100% - 25px) / 2);
            flex: 1 1 calc((100% - 25px) / 2);
        }
    }

    @media (width <= 400px) {
        .project {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            flex: 1 1 100%;
            /* margin: 0 auto; */
        }
    }
</style>
